header{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 20px;
    padding: 20px;
    background-image: linear-gradient(to bottom right, #0000FF,#333333);
    border-radius: 1000px;
    text-align: center;
    transition: 0.3s ease;
}


header:hover {
  transform: translateY(-10px);
}
h1 {
    color : #FFFFFF;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}


@property --y {
    syntax: "<percentage>";
    inherits: false;
    initial-value: -1%;
}

.snowfall,
.snowfall::before,
.snowfall::after {
    position: absolute;
    inset: 0;
    content: '';
    overflow: hidden;
    background-size: 65% 100%;
    pointer-events: none;

    background-image: radial-gradient(circle at 5% calc(var(--y) * 1), 
    #fff 3px, transparent 7px), radial-gradient(circle at 68% calc(var(--y) * 1.3), #fff 2px, transparent 4px);
}

.snowfall{
    animation: snowfall 20s linear infinite;
    background-size: 65% 100%;
}

.snowfall::before{
    inset: -4rem 0 0;
    opacity: 0.7;
    animation: snowfall 27s linear infinite;
    background-size: 45% 100%;
}

.snowfall::after{
    inset: -8rem 0 0;
    opacity: 0.8;
    animation: snowfall 37s linear infinite;
    background-size:32% 100% ;
}

@keyframes snowfall {
    0% {
        --y: -1%;
    }
    100% {
        --y: 101%;
    }
}

@keyframes wind{
    50%{
        translate: 200px;
    }
}


body{
    
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px;
    font-size:130%;
   background: #e0e0e0;
    color: #000000;
    position: relative;
    min-block-size: 100vh;
    background: 
    linear-gradient(#8dd4f7, #9080fa 85%) no-repeat,
    url(blue.avif) fixed no-repeat center / cover; 
    background-blend-mode: soft-light;

}

button,
input {
border-radius: 50px;
font-size: 70%;

}

.Group {
    display: flex;
    justify-content: space-between;
}

.Group1{
float:left;
}

.Group2{
    float: right;
}
  
footer{
    position: relative;
    top: 400px;
    left: 5px;
    
}

@media (max-width: 600px) {
 .Group {
  display: flex ;
 flex-direction: column;
 }
 header{
    width: 70%;
    max-width: 600px;
    margin: 0 auto 10px;
    padding: 10px;
    display: flex; 
   justify-content: center;
 }

 h1{
   display: flex; 
   justify-content: center;
 }
body{
    
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px;
    font-size:110%;
    position: relative;
    min-block-size: 100vh; 

}
footer{
    position: relative;
    top: 200px;
    left: 5px;
}    
}
