header{
    
    transition: 0.3s ease;
}


header:hover {
  transform: translateY(-10px);
}
h1 {
    color : #504B38;
    text-align: center;
    transition: transform 0.3s ease, color 0.3s ease;
}


body{
    
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px;
    font-size:130%;
   background: #F8F3D9;
    color: #000000;
    position: relative;
    min-block-size: 100vh;
    background: 
    linear-gradient(#8dd4f7, #9080fa 85%) no-repeat,
    

}

button,
input {
border-radius: 60px;
font-size: 80%;

}

.Group {
    display: flex;
    flex-direction: column;
    text-align:center;
}



.enterNM {
  flex: 1 1 45%;
  padding: 15px;
  background-color: #ffffff80;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
}
  
.Genet{
  text-align: center;
  flex: 0 1 auto;
  padding: 15px;
  background-color: #ffffff80;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
}

footer{
   position: fixed;
   left:  0;
   bottom: 0;
   width: 100%;
   color: #000000;
   text-align: left;
   opacity: 0.4;
}


@media (max-width: 600px) {
 .Group {
  display: flex ;
 flex-direction: column;
 }


 h1{
   display: flex; 
   justify-content: center;
 }

body{
    
    font-family: 'Times New Roman', Times, serif; 
    margin: 20px;
    font-size:120%;
    position: relative;  
}

button,
input {

justify-content: space-between;
flex-direction: column;

border-radius: 70px;
font-size: 90%;


}
.Group {
    display: flex;
    flex-direction: column;
    text-align:center;
}



.enterNM {
  flex-direction: column;
  flex: 1 1 45%;
  padding: 15px;
  background-color: #ffffff80;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
  text-align: center;

}
  
.Genet{
  text-align: center;
  flex: 0 1 auto;
  padding: 15px;
  background-color: #ffffff80;
  border-radius: 20px;
  box-shadow: 0 0 10px #aaa;
}



footer{
  position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   color: #000000;
   text-align: left;
   font-size: 70%;
   opacity: 0.4;
}    
}
